/*Basic HTML classes*/


html, body {
    font-family: 'Roboto', sans-serif;;
    color: black;
    background-color: #f0f0f0;
    background-color: #f0f0f0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ffffff' fill-opacity='0.41'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/*Custom classes*/
.headerText {
    color: whitesmoke;
    margin: 0 !important;
    /*font-weight: bold;*/
}

.hrefStyle {
    color: black;
    font-weight: bold !important;
}

.icons {
    color: black;
    font-size: 50px;
    margin: 1vh;
}

.errorHandle {
    color: red;
    font-weight: bold;
}

.formHandle {
    outline: 2px solid red;
}

/*Media Queries*/
/*Extra small devices (smartphones, <600px)*/

@media only screen and (max-width: 600px) {
    .card {
        margin-top: 5vh !important;
        height: 100vh !important;
        width: 100vw !important;
    }
}


/*Small devices (large smartphones and portrait tablets >= 600px)*/

@media only screen and (min-width: 600px) {
    .card {
        /*margin-left: 0vw !important;*/
        /*margin-right: 0vw !important;*/
        margin-top: 5vh !important;
        height: 100vh !important;
        width: 100vw !important;
    }
}


/*Medium devices (landscape tablets >= 768px)*/

@media only screen and (min-width: 768px) {
    .card {
        margin-top: 10vh !important;
        height: 100vh !important;
    }
}


/*Large devices (laptops and desktops, >=600px)*/

@media only screen and (min-width: 992px) {
    .card {
        margin: 2vw !important;
        width: 100vw !important;
        height: 100vh !important;
    }
}


/*Extra Large devices (laptops and desktops <600px)*/

@media only screen and (min-width: 1200px) {
    .card {
        margin: 2vw !important;
        width: 100vw !important;
        height: 100vh !important;
    }
}
